body{
    background-color: lightslategray;
}

#tabuleiro2{
    width: 500px;
    height: 500px;
    position: relative;
    border: 1px dashed;
    margin: 50px;
    display: flex;
    flex-wrap: wrap;
    margin: 50px auto;
}

.casa{
    position: relative;
    background-color: white;
    width: 12.5%;
}

.linha{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 12.5%;

}

.linha:nth-child(even) .casa:nth-child(even){
    background-color: black;
}

.linha:nth-child(odd) .casa:nth-child(odd){
    background-color: black;
}


