table{
    border: 1px dashed black;
    width: 640px;
    height: 640px;
    margin: auto;
    
}

table tr.linha2 td:nth-child(even), tr.linha1 td:nth-child(odd){
    background-color: black;  
}

img{
    width: 80%;
    vertical-align: middle;
}

td{
    width: 12.5%;
    height: 12.5%;
    text-align: center;
}